* {
    padding: 0px;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #74D4FF;
}

header {
    background-color: #00AEFF;
    text-align: center;
    width: 100%;
}


.contenedor{
    margin-top: 80px;
    border: 3px solid black;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px;
    background-color: #00AEFF;
}

.contenedor-dialog{
    border: 3px solid black;
    padding: 50px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px;
    position: relative;
    background-color: #00AEFF;
}

h2{
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #74D4FF;
    border: 2px solid black;
    color: black;
    font-size: 25px;
}

p{
    font-size: 20px;
}

.texto-aciertos{
    background-color: #82E0AA;

}

.texto-fallos{
    background-color: #FC5F67;
}

.contenedor-abecedario{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

#contenedor-letra-actual{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    border: 1px solid black;
    padding: 5px 40px;
    width: 200px;
    min-height: 50px;
    border-radius: 5px;
    background-color: white;
}

input{
    font-size: 16px;
    width: 100%;
    padding: 10px 2px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    text-align: center;
}

button{
    font-size: 20px;
    border: 2px solid black;
    padding: 8px 20px;
    border-radius: 10px;
    color: black;
}

button:hover{
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

.contenedor button{
    background-color: #82E0AA;
}

#boton-pasapalabra{
    background-color: #FFDF20;
}

.contenedor button:hover{
    background-color: #21834B;
}


#boton-pasapalabra:hover{
    background-color: #755C00;
    color: white;
    cursor: pointer;
}


#letra-actual{
    font-size: 25px;
    position: absolute;
    top: -20px;
    left: -20px;
    border: 1px solid black;
    background-color: #0072A3;
    width: 20px;
    text-align: center;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
}

#cronometro{
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    min-width: 40px;
    text-align: center;
    background-color: #82E0AA;
    padding: 10px 0px;
    border-radius: 20px;
    border: 1px solid black;
}

.letra {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #0072A3;
    color: white;
}

#texto-letra-indice{
    font-size: 20px;
}

#texto-definicion{
    font-size: 16px;
}

.contenedor-configuracion-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contendor-fin-juego p{
    padding: 5px;
    border-radius: 5px;
}

.contenedor-configuracion-input{
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #74D4FF;
    border: 2px solid black;
    color: black;
}

.contenedor-respuestas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-wrap: break-word;
    gap: 5px;
}

.contenedor-letra-respuesta{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 50px;
    min-width: 70px;
    border-radius: 10px;
    border: 1px solid black;
    justify-content: space-between;
}

.contenedor-letra-respuesta:hover{
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.respuesta-letra{
    font-size: 20px !important;
}

.respuesta-palabra{
    font-size: 14px !important;
}

.contenedor-letra-respuesta p{
    font-size: 14px;
}

select{
    font-size: 16px;
}

dialog {
    border: none;
    place-self: center;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    z-index: 100;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.493);
}

dialog button{
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #FC5F67;
    border: 2px solid black;
    padding: 8px 12px;
    border-radius: 20px;
}

dialog button:hover{
    cursor: pointer;
    background-color: #972127;
    border: 2px solid white;
    color: white;
}