*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: cyan;
}

.contenedor-pasapalabra{
    display: flex;
    gap: 5px;
}

.letra{
    background-color: green;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    align-content: center;
    border-radius: 50%
}